@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: beige;
}

center {
    background-position: auto;
    border: 10px;
    right: 50px;
    width: 200px;
    height: 150px;
}

.inicio {
    img {
        object-fit: cover;
        width: 30%;
        height: 30%;
        border-radius: 15px;
    }
}

.menu {
    li {
        background-position: 100px;
        bottom: 100px;
        justify-content: right;
    }
}

.bien__venido {
    padding: 50px;
    height: 200px;

    div {
        width: 500px;
        height: 500px;
        object-fit: cover;
        justify-content: flex-start;
        display: flex;
        box-align: center;
        background: 50px;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        color: darkblue
    }

    p {
        width: 100%;
        max-width: 1000px;
        text-align: center;
        padding: 30px;
    }

}

.colaboradores {
    margin: auto;
    margin-top: 500px;

    .conjunto {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;

        border-radius: 10px;
    }

    h3 {
        color: darkblue;
        text-align: center;
        padding: 10px;
    }

    img {
        width: 300px;
        height: 300px;
    }

    h4 p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
    }
}

.galeria {
    h3 {
        color: darkblue;
        text-align: center;
        padding: 10px;
    }

    img {
        width: 300px;
        height: 300px;
        background-position: 10px;
    }

}

.prenza {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;

    h3 {
        color: darkblue;
        text-align: center;
        padding: 10px;
    }

    h2 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        
    }

    img {
        width: 300px;
        height: 300px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        
        

    }

    span {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    
    }
}

.selecion {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

    h2 {
        font-size: 30px;
        font-weight: 400;
        color: darkblu;
        text-align: center;
        padding: 20px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
}

section h3 {
    color: darkblue;
    text-align: center;
    padding: 10px;
}

.redes {
    height: 200px;
    background-color: rgb(148, 208, 243);
    padding: 30px;

    h2 {
        text-align: center;
    }

    span {
        color: blue;
    }

    ul {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    li {
        display: inline-block;
    }

    img {
        padding: 20px;
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        width: 100px;
        height: 80px;
    }

}

.col-md-6 {
    border: 20px;
    right: 100px;
    padding: 100px;
}


.fhgd {
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    

    img {
        width: 300px;
        height: 300px;
    }

    h5 {
        bottom: 18px;
        color: rgb(5, 5, 248);
        text-align: center;
    }

    h4 {
        bottom: 18px;
        color: rgb(38, 38, 192);
        text-align: center;
    }

    h3 {
        bottom: 18px;
        color: rgb(4, 4, 136);
        text-align: center;
    }
}