@import"_colores";
@import"_variable";


@import url($fonts);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:$primario;
}

/*center {
    background-position: auto;
    border: 10px;
    right: 50px;
    width: 200px;
    height: 150px;
}
*/
.inicio {
    img {
        object-fit: cover;
        width: 20%;
        height: 20%;
        border-radius: 15px;
    }
}

.menu {
    height: 50px;
    margin-top: 20px;
}

.bien__venido {
    padding: 20px;
    height: 200px;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;

    img{
        width: 500px;
        height:500px;
        
        margin-right: 10px;
        
        
    }

    div {
        width: 500px;
        height: 500px;
        object-fit: cover;
        justify-content: flex-start;
        display: flex;
        box-align: center;
        background: 50px;
        
    }

    h2 {
        text-align: center;
        font-weight: bold;
        color:$color-texto;
    }

    p {
        width: 100%;
        max-width: 1000px;
        text-align: center;
        padding: 30px;
    }

}

.colaboradores {
    margin: auto;
    margin-top: 500px;

    .conjunto {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;

        border-radius: 10px;
    }

    h3 {
        color:$color-texto;
        text-align: center;

    }

    img {
        width: 400px;
        height: 400px;
        padding: 20px;
    }

    h4 p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
    }
}

.galeria {
    text-align: center;
    
    h3 {
        color:$color-texto;
        text-align: center;
        padding: 10px;
    }

    img {
        width:$ctd;
        height:$ctd;
        margin:auto;
        margin-top: 20px;
        max-width: 1000px;
    }

}

.prenza {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;

    h3 {
        color:$color-texto;
        text-align:$texto;
        padding: 10px;
    }

    h2 {
        font-size: 30px;
        font-weight: 400;
        text-align:$texto;
        
    }

    img {
        width:$ctd;
        height:$ctd;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        
        

    }

    span {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    
    }
}

.selecion {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

    h2 {
        font-size: 30px;
        font-weight: 400;
        color:$color-texto;
        text-align: center;
        padding: 20px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
}

section h3 {
    color:$color-texto;
    text-align:$texto;
    padding: 10px;
}

.redes {
    height: 200px;
    background-color: rgb(148, 208, 243);
    padding: 30px;

    h2 {
        text-align: $texto;
    }

    span {
        color: blue;
    }

    ul {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    li {
        display: inline-block;
    }

    img {
        padding: 20px;
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        width: 100px;
        height: 80px;
    }

}

.col-md-6 {
    border: 20px;
    right: 100px;
    padding: 100px;
}


.fhgd {
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    

    img {
        width: 300px;
        height: 300px;
    }

    h5 {
        bottom: 18px;
        color:$color-texto-dos;
        text-align:$texto;
    }

    h4 {
        bottom: 18px;
        color:$color-texto-dos;
        text-align:$texto;
    }

    h3 {
        bottom: 18px;
        color:$color-texto-dos;
        text-align:$texto;
    }
}